In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
import missingno as msno
from collections import Counter

## Raw data:

In [20]:
data = pd.read_csv("./dataset/maps-synthetic-data-v1.1.csv", engine='python')
data.head()

,Unnamed: 0,X,flag,comp_bed_9,mat_dep,mat_age,weight_16,height_16,iq,comp_noint_bed_16,...,dep_score,comp_house,tv_bed_16,creat_14,comp_games,fam_tv_eve,fam_tv_aft,fam_tv_mor,sex,birth_order
0,1,1,synthetic,NaN,3.0,30,59.294132,181.602831,107.0,NaN,...,0.0,Yes,Yes,often,No,"Yes, Some Days",Other,"Yes, Every Day",Female,A
1,2,2,synthetic,NaN,9.0,26,NaN,NaN,85.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,B
2,3,3,synthetic,NaN,3.0,24,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Yes, Some Days","Yes, Every Day",Other,Male,A
3,4,4,synthetic,No,NaN,22,49.812426,160.224186,NaN,NaN,...,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,Male,A
4,5,5,synthetic,No,8.0,31,62.270030,191.703227,132.0,Yes,...,NaN,NaN,NaN,often,No,"Yes, Some Days","Yes, Every Day","Yes, Every Day",Female,A

In [21]:
dictionary = pd.read_csv("./dataset/synthetic_data_dictionary.csv", engine='python')
dictionary.head()

,Variable Name,Variable ALSPAC Name,Variable Description,Variable Type,Administered to,Age of child at administration,ALSPAC Measure,ALSPAC Responses,Processing Details,Reference Document
0,agg_score,f596,Aggression score of partnership,Discrete,Mother,Aged 8 months,Derived by ALSPAC. See Processing Details,NaN,Aggression score was determined by three quest...,NaN
1,alon_week,ccs1006,Average time child spent per day doing things ...,Ordinal,Child,Aged 198 months,"""How much time on average do you spend each da...",Not at all,"The category ""Not at all"" was collapsed into t...",NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than 1 hour,NaN,NaN
3,,,NaN,NaN,NaN,NaN,NaN,1-2 hours,NaN,NaN
4,,,NaN,NaN,NaN,NaN,NaN,3 or more hours,NaN,NaN

Variables have different Age Of Child At Administration parameters. We don't need the variables with this parameter not equal to 16 (for variables related to screen time) and 18 (for variables related to a depression or anxiety diagnosis).

## only the columns at 16 and 18:

All vars at 16 are separated into weekend and weekdays. Might be worth summing it up into total per week.

In [22]:
rows = dictionary[(dictionary["Age of child at administration"] == "Aged 198 months")]
rows2 = dictionary[(dictionary["Age of child at administration"] == "Aged 198 months")]
rows3 = dictionary[(dictionary["Age of child at administration"] == "Aged around 17.5 years")]
columns_to_keep_names = []
columns_to_keep_names.append(rows["Variable Name"])
columns_to_keep_names.append(rows2["Variable Name"])
columns_to_keep_names.append(rows3["Variable Name"])
print(columns_to_keep_names)

[1              alon_week
5              alon_wend
14            child_bull
20            comp_house
24       comp_int_bed_16
28     comp_noint_bed_16
32             comp_week
36             comp_wend
50             draw_week
54             draw_wend
59              exercise
89             musi_week
93             musi_wend
100         out_sum_week
105         out_sum_wend
109         out_win_week
113         out_win_wend
139            play_week
143            play_wend
148            read_week
152            read_wend
158        talk_mob_week
162        talk_mob_wend
166       talk_phon_week
170       talk_phon_wend
178            text_wend
182            tran_week
186            tran_wend
196              tv_week
200              tv_wend
205            work_week
209            work_wend
Name: Variable Name, dtype: object, 1              alon_week
5              alon_wend
14            child_bull
20            comp_house
24       comp_int_bed_16
28     comp_noint_bed_16
32             comp_week
36             comp_wend
50             draw_week
54             draw_wend
59              exercise
89             musi_week
93             musi_wend
100         out_sum_week
105         out_sum_wend
109         out_win_week
113         out_win_wend
139            play_week
143            play_wend
148            read_week
152            read_wend
158        talk_mob_week
162        talk_mob_wend
166       talk_phon_week
170       talk_phon_wend
178            text_wend
182            tran_week
186            tran_wend
196              tv_week
200              tv_wend
205            work_week
209            work_wend
Name: Variable Name, dtype: object, 48        dep_score
49     dep_thoughts
76     has_dep_diag
119     panic_score
147       prim_diag
156       secd_diag
Name: Variable Name, dtype: object]

## Remove vars at wrong ages:

In [10]:
df = pd.DataFrame(data)
columns = list(df)

for i in columns:
    if (df[i][0] in columns_to_keep_names):
        print("keep")
    else: df.drop(df[i])

KeyError: 1

## Mohammed's stuff:

In [23]:
for i in data.columns:
    if len(data[i].unique()) <= 7:
        print(i, data[i].unique())

flag ['synthetic']
comp_bed_9 [nan 'No' 'Yes']
comp_noint_bed_16 [nan 'Yes']
comp_int_bed_16 [nan 'Yes']
talk_phon_wend ['Any at all' nan 'Not at all']
text_wend ['Less than 1 hour' nan 'Not at all' '3 or more hours' '1-2 hours']
talk_mob_wend ['Less than 1 hour' nan 'Not at all' '1 or more hours']
comp_wend ['1-2 hours' nan 'Less than 1 hour' '3 or more hours' 'Not at all']
musi_wend ['Not at all' nan 'Any at all']
read_wend ['Less than 1 hour' nan '1 or more hours' 'Not at all']
work_wend ['3 or more hours' nan '1-2 hours' 'Less than 1 hour']
alon_wend ['1-2 hours' nan '3 or more hours' 'Less than 1 hour']
draw_wend ['Not at all' nan 'Less than 1 hour' '1 or more hours']
play_wend ['3 or more hours' nan 'Less than 3 hours']
tv_wend ['1-2 hours' nan '3 or more hours' 'Less than 1 hour' 'Not at all']
out_win_wend ['3 or more hours' nan 'Less than 1 hour' '1-2 hours']
out_sum_wend ['3 or more hours' nan 'Less than 3 hours']
tran_wend ['Less than 1 hour' nan '1 or more hours']
talk_phon_week ['Not at all' nan 'Any at all']
text_week ['Less than 1 hour' nan 'Not at all' '3 or more hours' '1-2 hours']
talk_mob_week ['Less than 1 hour' nan 'Not at all' '1 or more hours']
comp_week ['1-2 hours' nan '3 or more hours' 'Less than 1 hour' 'Not at all']
musi_week ['Not at all' nan 'Any at all']
read_week ['Less than 1 hour' nan '1 or more hours' 'Not at all']
work_week ['3 or more hours' nan '1-2 hours' 'Less than 1 hour']
alon_week ['1-2 hours' nan '3 or more hours' 'Less than 1 hour']
draw_week ['Not at all' nan 'Less than 1 hour' '1 or more hours']
play_week ['3 or more hours' nan 'Less than 3 hours']
tv_week ['1-2 hours' nan '3 or more hours' 'Less than 1 hour' 'Not at all']
out_win_week ['3 or more hours' nan 'Less than 1 hour' '1-2 hours']
out_sum_week ['3 or more hours' nan 'Less than 3 hours']
tran_week ['Less than 1 hour' nan '1 or more hours']
pat_pres_10 ['Yes' nan 'No']
pat_pres_8 ['Yes' nan 'No']
pat_pres ['Yes' nan 'No']
mat_anx_1 ['No' nan 'Yes']
mat_anx_18m ['No' nan 'Yes']
mat_anx_8m ['No' nan 'Yes']
emot_cruel ['No' nan 'Yes']
phys_cruel ['No' nan 'Yes']
mat_anx_0m ['No' nan 'Yes']
pat_edu ['A level' nan 'O level' 'Vocational' 'Degree' 'cse']
mat_edu ['A level' nan 'O level' 'Vocational' 'CSE/None' 'Degree']
dep_band_15 ['~0.5%' nan '<0.1%' '~15%' '~50%' '>70%']
dep_band_13 ['~0.5%' nan '<0.1%' '~15%' '~50%' '>70%']
dep_band_10 ['~0.5%' nan '<0.1%' '~15%' '~50%' '>70%']
dep_band_07 ['~0.5%' nan '<0.1%' '~50%' '~15%']
anx_band_15 ['~0.5%' nan '~3%' '~15%' '~50%' '<0.1%']
anx_band_13 ['~0.5%' nan '~15%' '~3%' '>70%' '<0.1%' '~50%']
anx_band_10 ['~3%' nan '~0.5%' '~15%' '>70%' '~50%' '<0.1%']
anx_band_07 ['~3%' nan '~0.5%' '~15%' '~50%' '>70%']
exercise ['5 or more times a week' nan '1-4 times a week' '1-3 times a month'
 'Never' 'Less than once a month']
child_bull ['No' nan 'Yes']
phone_14_wend [nan 'Not at all' '< 1 hour' '1 or more hours']
phone_14_week [nan 'Not at all' '1 or more hours' '< 1 hour']
musi_13 [nan 'No' 'Yes']
tv_bed_9 [nan 'No' 'Yes']
own_mob [nan 'Yes' 'No']
has_dep_diag [' No ICD-10 diagnosis of depression' nan
 'Yes ICD-10 diagnosis of depression']
panic_score [ 0. nan  2.  1.  3.  4.]
dep_thoughts [nan  1.  3.  4.  2.  5.  0.]
dep_score [ 0. nan  2.  1.  4.  3.]
comp_house ['Yes' nan]
tv_bed_16 ['Yes' nan]
creat_14 ['often' nan 'sometimes']
comp_games ['No' nan 'Yes']
fam_tv_eve ['Yes, Some Days' nan 'Yes, Every Day' 'Other']
fam_tv_aft ['Other' nan 'Yes, Every Day' 'Yes, Some Days']
fam_tv_mor ['Yes, Every Day' nan 'Other' 'Yes, Some Days']
sex ['Female' 'Male']
birth_order ['A' 'B']

In [24]:
data.drop('flag', inplace = True, axis = 1)
data.drop('Unnamed: 0', inplace = True, axis = 1)
data.drop('X', inplace = True, axis = 1)

In [25]:
for i in ['comp_bed_9', 'pat_pres_10', 'pat_pres_8', 'pat_pres', 'mat_anx_1', 'mat_anx_18m', 'mat_anx_8m', 'emot_cruel',
          'phys_cruel', 'mat_anx_0m', 'child_bull', 'musi_13', 'tv_bed_9', 'own_mob', 'comp_games']:
    data[i] = data[i].replace(['Yes'], True)
    data[i] = data[i].replace(['No'], False)
    
for i in ['comp_noint_bed_16', 'comp_int_bed_16', 'comp_house', 'tv_bed_16']:
    data[i] = data[i].replace(['Yes'], True)
    data[i] = data[i].fillna(False)
    
for i in ['talk_phon_wend', 'musi_wend', 'talk_phon_week', 'musi_week']:
    data[i] = data[i].replace(['Not at all'], False)
    data[i] = data[i].replace(['Any at all'], True)

for i in ['play_wend', 'out_sum_wend', 'play_week', 'out_sum_week']:
    data[i] = data[i].replace(['Less than 3 hours'], False)
    data[i] = data[i].replace(['3 or more hours'], True)
    
for i in ['tran_wend', 'tran_week']:
    data[i] = data[i].replace(['Less than 1 hour'], False)
    data[i] = data[i].replace(['1 or more hours'], True)
    
data['has_dep_diag'] = data['has_dep_diag'].replace([' No ICD-10 diagnosis of depression'], False)
data['has_dep_diag'] = data['has_dep_diag'].replace(['Yes ICD-10 diagnosis of depression'], True)

data['creat_14'] = data['creat_14'].replace(['often'], True)
data['creat_14'] = data['creat_14'].replace(['sometimes'], False)

    
data.head()

,comp_bed_9,mat_dep,mat_age,weight_16,height_16,iq,comp_noint_bed_16,comp_int_bed_16,talk_phon_wend,text_wend,...,dep_score,comp_house,tv_bed_16,creat_14,comp_games,fam_tv_eve,fam_tv_aft,fam_tv_mor,sex,birth_order
0,NaN,3.0,30,59.294132,181.602831,107.0,False,False,True,Less than 1 hour,...,0.0,True,True,True,False,"Yes, Some Days",Other,"Yes, Every Day",Female,A
1,NaN,9.0,26,NaN,NaN,85.0,False,False,NaN,NaN,...,NaN,False,False,NaN,NaN,NaN,NaN,NaN,Female,B
2,NaN,3.0,24,NaN,NaN,NaN,False,False,NaN,NaN,...,NaN,False,False,NaN,NaN,"Yes, Some Days","Yes, Every Day",Other,Male,A
3,False,NaN,22,49.812426,160.224186,NaN,False,False,NaN,NaN,...,NaN,False,False,NaN,False,NaN,NaN,NaN,Male,A
4,False,8.0,31,62.270030,191.703227,132.0,True,False,False,Not at all,...,NaN,False,False,True,False,"Yes, Some Days","Yes, Every Day","Yes, Every Day",Female,A

In [26]:
for i in data.columns:
    if len(data[i].unique()) == 4:
        print(i, data[i].unique())

talk_mob_wend ['Less than 1 hour' nan 'Not at all' '1 or more hours']
read_wend ['Less than 1 hour' nan '1 or more hours' 'Not at all']
work_wend ['3 or more hours' nan '1-2 hours' 'Less than 1 hour']
alon_wend ['1-2 hours' nan '3 or more hours' 'Less than 1 hour']
draw_wend ['Not at all' nan 'Less than 1 hour' '1 or more hours']
out_win_wend ['3 or more hours' nan 'Less than 1 hour' '1-2 hours']
talk_mob_week ['Less than 1 hour' nan 'Not at all' '1 or more hours']
read_week ['Less than 1 hour' nan '1 or more hours' 'Not at all']
work_week ['3 or more hours' nan '1-2 hours' 'Less than 1 hour']
alon_week ['1-2 hours' nan '3 or more hours' 'Less than 1 hour']
draw_week ['Not at all' nan 'Less than 1 hour' '1 or more hours']
out_win_week ['3 or more hours' nan 'Less than 1 hour' '1-2 hours']
phone_14_wend [nan 'Not at all' '< 1 hour' '1 or more hours']
phone_14_week [nan 'Not at all' '1 or more hours' '< 1 hour']
fam_tv_eve ['Yes, Some Days' nan 'Yes, Every Day' 'Other']
fam_tv_aft ['Other' nan 'Yes, Every Day' 'Yes, Some Days']
fam_tv_mor ['Yes, Every Day' nan 'Other' 'Yes, Some Days']

In [27]:
   
for i in ['talk_mob_wend', 'read_wend', 'draw_wend', 'talk_mob_week', 'read_week', 'draw_week']:
    data[i] = data[i].replace(['Not at all'], 0)
    data[i] = data[i].replace(['Less than 1 hour'], 1)
    data[i] = data[i].replace(['1 or more hours'], 2)
    
for i in ['work_wend', 'alon_wend', 'out_win_wend', 'work_week', 'alon_week', 'out_win_week']:
    data[i] = data[i].replace(['Less than 1 hour'], 0)
    data[i] = data[i].replace(['1-2 hours'], 1)
    data[i] = data[i].replace(['3 or more hours'], 2)
    
for i in ['phone_14_wend', 'phone_14_week']:
    data[i] = data[i].replace(['Not at all'], 0)
    data[i] = data[i].replace(['< 1 hour'], 1)
    data[i] = data[i].replace(['1 or more hours'], 2)
    
for i in ['fam_tv_eve', 'fam_tv_aft', 'fam_tv_mor']:
    data[i] = data[i].replace(['Other'], 0)
    data[i] = data[i].replace(['Yes, Some Days'], 1)
    data[i] = data[i].replace(['Yes, Every Day'], 2)

In [28]:
for i in data.columns:
    if len(data[i].unique()) == 4:
        print(i, data[i].unique())

talk_mob_wend [ 1. nan  0.  2.]
read_wend [ 1. nan  2.  0.]
work_wend [ 2. nan  1.  0.]
alon_wend [ 1. nan  2.  0.]
draw_wend [ 0. nan  1.  2.]
out_win_wend [ 2. nan  0.  1.]
talk_mob_week [ 1. nan  0.  2.]
read_week [ 1. nan  2.  0.]
work_week [ 2. nan  1.  0.]
alon_week [ 1. nan  2.  0.]
draw_week [ 0. nan  1.  2.]
out_win_week [ 2. nan  0.  1.]
phone_14_wend [nan  0.  1.  2.]
phone_14_week [nan  0.  2.  1.]
fam_tv_eve [ 1. nan  2.  0.]
fam_tv_aft [ 0. nan  2.  1.]
fam_tv_mor [ 2. nan  0.  1.]

In [29]:
for i in data.columns:
    if len(data[i].unique()) == 5:
        print(i, data[i].unique())

text_wend ['Less than 1 hour' nan 'Not at all' '3 or more hours' '1-2 hours']
comp_wend ['1-2 hours' nan 'Less than 1 hour' '3 or more hours' 'Not at all']
tv_wend ['1-2 hours' nan '3 or more hours' 'Less than 1 hour' 'Not at all']
text_week ['Less than 1 hour' nan 'Not at all' '3 or more hours' '1-2 hours']
comp_week ['1-2 hours' nan '3 or more hours' 'Less than 1 hour' 'Not at all']
tv_week ['1-2 hours' nan '3 or more hours' 'Less than 1 hour' 'Not at all']
dep_band_07 ['~0.5%' nan '<0.1%' '~50%' '~15%']

In [30]:
for i in ['text_wend', 'comp_wend', 'tv_wend', 'text_week', 'comp_week', 'tv_week']:
    data[i] = data[i].replace(['Not at all'], 0)
    data[i] = data[i].replace(['Less than 1 hour'], 1)
    data[i] = data[i].replace(['1-2 hours'], 2)
    data[i] = data[i].replace(['3 or more hours'], 3)

In [31]:
for i in data.columns:
    if len(data[i].unique()) == 5:
        print(i, data[i].unique())

text_wend [ 1. nan  0.  3.  2.]
comp_wend [ 2. nan  1.  3.  0.]
tv_wend [ 2. nan  3.  1.  0.]
text_week [ 1. nan  0.  3.  2.]
comp_week [ 2. nan  3.  1.  0.]
tv_week [ 2. nan  3.  1.  0.]
dep_band_07 ['~0.5%' nan '<0.1%' '~50%' '~15%']

In [32]:
percentages = ['dep_band_07', 'dep_band_15', 'dep_band_13', 'dep_band_10', 'anx_band_15', 'anx_band_07']
for i in percentages:
    data[i] = data[i].str.strip('%<>~')

In [33]:
for i in percentages:
    print(i, data[i].unique())

dep_band_07 ['0.5' nan '0.1' '50' '15']
dep_band_15 ['0.5' nan '0.1' '15' '50' '70']
dep_band_13 ['0.5' nan '0.1' '15' '50' '70']
dep_band_10 ['0.5' nan '0.1' '15' '50' '70']
anx_band_15 ['0.5' nan '3' '15' '50' '0.1']
anx_band_07 ['3' nan '0.5' '15' '50' '70']

In [34]:
data['exercise'] = data['exercise'].replace(['Never', 'Less than once a month', '1-3 times a month',
                                             '1-4 times a week', '5 or more times a week'], range(5))

print(data['exercise'].unique())

[ 4. nan  3.  2.  0.  1.]

## Mohamed's stuff

In [35]:
transposed_data = data.T
transposed_data

,0,1,2,3,4,5,6,7,8,9,...,13724,13725,13726,13727,13728,13729,13730,13731,13732,13733
comp_bed_9,NaN,NaN,NaN,False,False,False,NaN,NaN,False,NaN,...,False,False,False,NaN,True,NaN,False,NaN,False,False
mat_dep,3,9,3,NaN,8,10,0,NaN,4,0,...,3,1,NaN,0,8,13,6,21,10,6
mat_age,30,26,24,22,31,30,36,26,30,30,...,33,32,18,22,21,27,29,37,30,26
weight_16,59.2941,NaN,NaN,49.8124,62.27,78.9366,NaN,84.2997,70.6573,70.5294,...,NaN,NaN,59.2876,NaN,NaN,NaN,NaN,58.0758,NaN,70.7329
height_16,181.603,NaN,NaN,160.224,191.703,169.722,NaN,186.327,176.028,187.778,...,NaN,NaN,174.365,NaN,NaN,NaN,NaN,169.236,NaN,176.874
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fam_tv_eve,1,NaN,1,NaN,1,1,2,2,NaN,1,...,1,1,1,1,1,2,2,0,1,1
fam_tv_aft,0,NaN,2,NaN,2,0,2,2,2,0,...,0,0,2,2,2,2,0,0,0,0
fam_tv_mor,2,NaN,0,NaN,2,1,0,2,2,0,...,0,0,2,1,0,2,0,0,2,2
sex,Female,Female,Male,Male,Female,Female,Male,Female,Male,Female,...,Male,Male,Female,Male,Female,Female,Male,Male,Male,Male
birth_order,A,B,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A

In [36]:
missing_data = pd.DataFrame(data[data.columns[data.isnull().any()]].isnull().sum()/len(data)*100)

In [37]:
names = []
for i in range(len(missing_data)):
        names.append(missing_data.iloc[i].name)
values = []
for i in range(len(missing_data)):
        values.append(missing_data.iloc[i][0])

data_1 = {'Features': names,'% Missing Data': values}

missing_df = pd.DataFrame(data_1)

missing_df.sort_values(by = ['% Missing Data'], ascending = False)

        Features  % Missing Data
69  dep_thoughts       86.857434
64       own_mob       68.064657
68   panic_score       67.139945
65  has_dep_diag       67.139945
66     secd_diag       67.139945
..           ...             ...
43    phys_cruel       17.715159
42    emot_cruel       17.715159
48       mat_edu        9.895151
49        parity        8.664628
2        mat_age        2.970730

[76 rows x 2 columns]

In [38]:
## Dropping columns (features / variables) that have NaN values above a certain threshold

threshold = 50

for i in range (len(missing_df)):
  if(missing_df.iloc[i]['% Missing Data'] > threshold):
    data.drop(columns = missing_df.iloc[i][0], inplace = True)

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13734 entries, 0 to 13733
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   comp_bed_9         8174 non-null   object
 1   mat_dep            11145 non-null  float64
 2   mat_age            13326 non-null  object
 3   iq                 7288 non-null   float64
 4   comp_noint_bed_16  13734 non-null  bool
 5   comp_int_bed_16    13734 non-null  bool
 6   pat_pres_10        8057 non-null   object
 7   pat_pres_8         7729 non-null   object
 8   pat_pres           9579 non-null   object
 9   num_home           9583 non-null   object
 10  mat_anx_1          9700 non-null   object
 11  mat_anx_18m        9884 non-null   object
 12  mat_anx_8m         10488 non-null  object
 13  agg_score          10714 non-null  float64
 14  emot_cruel         11301 non-null  object
 15  phys_cruel         11301 non-null  object
 16  mat_anx_0m         11265 non-null  object
 17  pat_ses            11021 non-null  object
 18  mat_ses            10110 non-null  object
 19  pat_edu            10750 non-null  object
 20  mat_edu            12375 non-null  object
 21  parity             12544 non-null  float64
 22  dep_band_13        7003 non-null   object
 23  dep_band_10        7679 non-null   object
 24  dep_band_07        8089 non-null   object
 25  anx_band_13        7158 non-null   object
 26  anx_band_10        7852 non-null   object
 27  anx_band_07        8280 non-null   object
 28  musi_13            6880 non-null   object
 29  tv_bed_9           8348 non-null   object
 30  comp_house         13734 non-null  bool
 31  tv_bed_16          13734 non-null  bool
 32  creat_14           7093 non-null   object
 33  comp_games         9660 non-null   object
 34  fam_tv_eve         11174 non-null  float64
 35  fam_tv_aft         11038 non-null  float64
 36  fam_tv_mor         11096 non-null  float64
 37  sex                13734 non-null  object
 38  birth_order        13734 non-null  object
dtypes: bool(4), float64(7), object(28)
memory usage: 3.7+ MB

## Iban's stuff:

In [40]:
for i in range(13734):
    if data.at[i,"comp_week"] == "Not at all":
        data.at[i,"comp_week"] = 0
    if data.at[i,"comp_week"] == "Less than 1 hour":
        data.at[i,"comp_week"] = 1
    if data.at[i,"comp_week"] == "1-2 hours":
        data.at[i,"comp_week"] = 2
    if data.at[i,"comp_week"] == "3 or more hours":
        data.at[i,"comp_week"] = 3

KeyError: 'comp_week'

In [41]:
sns.set_theme()
sns.histplot(data.comp_week)

AttributeError: 'DataFrame' object has no attribute 'comp_week'

In [42]:
mean = np.mean(data.comp_week)
print("mean:", mean)
mode = stats.mode(data.comp_week)
print("mode:", mode)
median = np.median(data.comp_week)
print("median:", median)

AttributeError: 'DataFrame' object has no attribute 'comp_week'

## Karolina's stuff:
+ type screening 
+ outliers
+ black swans 
+ worst cases
+ imbalanced samples

Outliers: https://www.analyticsvidhya.com/blog/2021/05/detecting-and-treating-outliers-treating-the-odd-one-out/
https://statisticsbyjim.com/basics/remove-outliers/
https://cxl.com/blog/outliers/


A black swan is an unpredictable event that is beyond what is normally expected of a situation and has potentially severe consequences. Black swan events are characterized by their extreme rarity, severe impact, and the widespread insistence they were obvious in hindsight.

Imbalanced datasets: https://datascience.foundation/sciencewhitepaper/understanding-imbalanced-datasets-and-techniques-for-handling-them
https://www.analyticsvidhya.com/blog/2021/06/5-techniques-to-handle-imbalanced-data-for-a-classification-problem/
https://www.kdnuggets.com/2020/01/5-most-useful-techniques-handle-imbalanced-datasets.html
https://towardsdatascience.com/handling-imbalanced-datasets-in-machine-learning-7a0e84220f28

Worst case analysis: https://proceedings.neurips.cc/paper/2020/hash/d34a281acc62c6bec66425f0ad6dd645-Abstract.html
Not sure if we need it at all, probably not

### Outliers

In [43]:
data.head()

,comp_bed_9,mat_dep,mat_age,iq,comp_noint_bed_16,comp_int_bed_16,pat_pres_10,pat_pres_8,pat_pres,num_home,...,tv_bed_9,comp_house,tv_bed_16,creat_14,comp_games,fam_tv_eve,fam_tv_aft,fam_tv_mor,sex,birth_order
0,NaN,3.0,30,107.0,False,False,True,True,True,4,...,NaN,True,True,True,False,1.0,0.0,2.0,Female,A
1,NaN,9.0,26,85.0,False,False,NaN,NaN,NaN,NaN,...,NaN,False,False,NaN,NaN,NaN,NaN,NaN,Female,B
2,NaN,3.0,24,NaN,False,False,NaN,NaN,NaN,NaN,...,NaN,False,False,NaN,NaN,1.0,2.0,0.0,Male,A
3,False,NaN,22,NaN,False,False,NaN,True,NaN,NaN,...,False,False,False,NaN,False,NaN,NaN,NaN,Male,A
4,False,8.0,31,132.0,True,False,NaN,NaN,False,4,...,True,False,False,True,False,1.0,2.0,2.0,Female,A